/* Rubik */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: 'jersey';
  src: url('../public/Jersey25-Regular.ttf');
}
@font-face {
  font-family: 'acme';
  src: url('../public/Acme-Regular.ttf');
}

.lid {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-right: 160px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 160px solid transparent;
  transform-origin: top;
}

.one {
  border-top: 160px solid #86a2eb;
  transform: rotateX(0deg);
  z-index: 3;
}

.two {
    border-top: 100px solid #3760C9;
    transform: rotateX(90deg);
    z-index: 1;
}